* {
  margin: 5px;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  background-color: #1d1936;
  background-image: linear-gradient(#1d1936, #ff7e5f);
  font-family: "Noto Sans JP", sans-serif;
  background-size: cover;
}
.wrapper {
  display: flex;
  justify-content: center;
  height: 30vw;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
}
.calculator-display {
  height: 80px;
  font-size: xx-large;
  font-weight: 500;
  color: #ff7e5f;
}

.button {
  align-self: center;
  background-color: inherit;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 15px 20px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
